body, html, h1, h2 {
  margin: 0;
  padding: 0;
  font-family: 'Roboto Slab', serif;
}

#header {
  background-color: #2d2d2d;
  color: white;
  text-align: center;
}

#description {
  margin: 20px;
  text-align: center;
  font-size: 20px;
}

.section-title {
  background-color: #2d2d2d;
  color: white;
  text-align: center;
}

#footer {
  margin-top: 40px;
  padding-top: 40px;
  padding-bottom: 40px;
  font-size: 12px;
  line-height: 1.5;
  color: #777;
  border-top: 1px solid #eee;
  text-align: center;
}

#code-block {
  margin: 10px auto;
  width: 80%;
}

#code-block h3 {
  text-align: center;
}

#popup {
  position: absolute;
  background-color: rgba(0,0,0,0.8);
  padding: 0 20px;
  border-radius: 10px;
  color: white;
  display: none;
}

#network {
  height: 600px;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#e6eef9+0,e6eef9+50,ffffe3+50,ffffe3+100 */
  background: #e6eef9; /* Old browsers */
  background: -moz-linear-gradient(top, #e6eef9 0%, #e6eef9 50%, #ffffe3 50%, #ffffe3 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #e6eef9 0%,#e6eef9 50%,#ffffe3 50%,#ffffe3 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #e6eef9 0%,#e6eef9 50%,#ffffe3 50%,#ffffe3 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e6eef9', endColorstr='#ffffe3',GradientType=0 ); /* IE6-9 */
}
